html {
    text-align: center;
    background-image: url('background.png');
    font-family: 'Courier New', Courier, monospace;
}

button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    width: 101px;
    height: 45px;
    border-radius: 6px;
    background-image: url('buttonLong.png');
    border: none;
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;

}

button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#view {
    width: 101px;
    height: 64px;
    background-image: url('buttonWide.png');
    border: none;
}

input {
    width: 200px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}