html {
    line-height: 200px;
    height: 200px;
    background-image: url('background.png');
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

button{ 
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    width: 101px;
    height: 64px;
    border-radius: 6px;
    background-image: url('buttonWide.png');
    border: none;
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
}

button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

